<!-- 번호 매기기 -->

<div style="text-align: center; margin: 1rem 0;">

    {% if page_obj.has_previous %}
    <a class="btn" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <!-- <a href="?page={{ page_obj.previous_page_number }}"
        class="btn">
        {{ page_obj.previous_page_number }} -->
    </a>
    {% endif %}
 
    {% for i in "x"|rjust:"10" %}
    <a href="?page={{forloop.counter}}" class="btn">
        {{forloop.counter}}
    </a>
    {% endfor %}
    <!-- <a href="?page=1"
       class="btn">
        1
    </a>
    <a href="?page=2"
       class="btn">
        2
    </a>
    <a href="?page=3"
       class="btn">
        3
    </a> -->
    {% if page_obj.has_next %}
    <!-- <a href="?page={{ page_obj.next_page_number }}"
       class="btn">
        {{ page_obj.next_page_number }}
    </a> -->

    <a class="btn" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
    </a>
    {% endif %}
</div>