{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
.company_name{
    margin-left: 5rem;
}

.companyinfo_box{
    width : 1080px;
    height: 230px;
    background-color: none;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    text-align: center;
    display: felx;
    position: relative;
  }

.companyinfo {
    display: inline-block;
    width: 200px;
    text-align: left;
    margin: 20px;
    margin-left: auto;
    margin-right: 120px;
    flex: 1;
    padding: auto;
}

.comment_box {
    display: inline-block;
    width: 200px;
    text-align: left;
    margin: 20px;
    margin-left: auto;
    margin-right: 120px;
    flex: 1;
    text-align: center;
}

.report_box {
    display: inline-block;
    width: 300px;
    flex: 1;
    transform: translate(10px,75px);

}

.report_opinion {
    font-size: 30;
    font-weight: 800;
    letter-spacing: 2px;
    display: inline-block;

}

.report_circle {
    background-color:#cd2626;
    width:80px;
    height:80px;
    border-radius:75px;
    text-align:center;
    margin: 0;
    display: inline-block;
    font-size:12px;
    vertical-align:middle;
    line-height:150px;
}

.event_box{
    width : 1080px;
    height: 300px;
    background-color: none;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;    
}


</style>
<main class="company_name">LG에너지솔루션</main>

<div class="companyinfo_box">
    <div class="companyinfo">기업개요</div>
    <div class="comment_box">시장반응</div>
    <div class="report_box">
        <div class="report_opinion">애널리스트 의견</div>
        <div class="report_circle"></div>
    </div>


    <script src="{% static 'js/magicgrid.js' %}"></script>

</div>
<div class="event_box">
이벤트별 키워드
</div>

{% endblock %}