{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
.stock_box{
    display: flex;
    flex-direction: column;
}


.stock_name{
    width: auto;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.company_name{
    font-weight: bold;
    font-size: 25px;
}

.company_code{
    margin: 0%;
    font-size: 20px;
}

.company_box{
    width: 1440px;
    background-color: none;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    display: flex;
  }

.companyinfo {
    display: flex;
    padding: 10px 15px 0;
    flex-wrap: wrap;
    letter-spacing: -.3px;
}

.stock_info_item{
    width: 200px;
}

.stock_info_item_inner{
    width: 140%;
    box-sizing: border-box;
    word-break: break-all;
    word-wrap: break-word;
    position: relative;
    display: flex;
    height: 100%;
    border-bottom: 1px;
    padding: 15px;
    margin-left: 15%;
}

ul {
    list-style-type : none;
}

.stock_info {
    flex: 1;
    display: inline;
    position: relative;
    width: 220px;
    top: 3px;
    bottom: 3px;
    margin-top: 2.5%;
    margin-bottom: 2%;
}

.market{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    display: inline-block;
    padding-top: 1px;
    color: #878787;
    letter-spacing: -.5px;
    vertical-align: top;
}

.value{
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    flex: 1 1;
    padding-left: 30px;
    color: #000;
    text-align: right;
    letter-spacing: -.3px;
    margin-top: 3px;
}

.comment_box {
    flex: 1;
    display: inline;
    position: relative;
    width: 100px;
    text-align: left;
    margin-top: 12px;
}



.report_box {
    flex: 1;
    display: inline;
    position: relative;
    width: 100px;
    text-align: center;
}

.report_opinion {
    font-size: 30;
    font-weight: 800;
    letter-spacing: 2px;
    display: inline
}

.report_date {
    font-size: 10;
    display: inline;
}

.report_circle {
    background-color:#cd2626;
    width:100px;
    height:100px;
    border-radius:50px;
    margin: auto;
    transform: translate(250%,130%);
}

.report_item_inner{
    box-sizing: border-box;
    word-break: break-all;
    word-wrap: break-word;
    position: fixed;
    float: left;
    width: 60%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
}

.event_box{
    width: 1440px;
    height: 500px;
    background-color: none;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    display: block;
}

.line_top {
    display: inline-flex;
    height: 10px;
    width: 80%;
    background-color: #EBEBEB;
    border: none;
    text-align: center;
    border-radius: 10px;
    
}

.line_top::after {
    content: "";
    flex-grow: 1;
    margin: 0px 85% 0px 0px;
    background-color: rgb(220, 0, 0);
    height: 10px;
    font-size: 0px;
    line-height: 0px;
    border-radius: 10px;
}
.highcharts-figure{
    min-width: 360px;
    max-width: 800px;
    margin: 1rem;
}
</style>

<div id="stock_box">

    <div class="stock_name">
        <span class="company_name">{{ name }}</span>
        <span class="company_code">{{ code }}</span>
    </div>
    <div class="company_box">
        <ul class="stock_info">
            <li class="stock_info_item">
                <div class="stock_info_item_inner">
                    <strong class="stock_item">거래소</strong>
                    <span class="value">
                    {% if market == 0 %}
                        KOSPI
                    {% else %}
                        KOSDAQ
                    {% endif %}</span>
                </div>
            </li>
            <li class="stock_info_item">
                <div class="stock_info_item_inner">
                    <strong class="stock_item">CEO</strong>
                    <span class="value">{{ CEO }}</span>
                </div>
            </li>
            <li class="stock_info_item">
                <div class="stock_info_item_inner">
                    <strong class="stock_item">상장일</strong>
                    <span class="value">{{ listed_date }}</span>
                </div>
            </li>
            <li class="stock_info_item">
                <div class="stock_info_item_inner">
                    <strong class="stock_item">시가총액</strong>
                    <span class="value">{{ market_cap }}</span>
                </div>
            </li>
            <li class="stock_info_item">
                <div class="stock_info_item_inner">
                    <strong class="stock_item">분류</strong>
                    <span class="value">{{ sector }}</span>
                </div>
            </li>
        </ul>
        <div class="comment_box">
            <div id="commentchart"></div>
        </div>
        <script>Highcharts.chart('commentchart', {
            chart: {
                type: 'column',
                width: 450,
                height: 300
            },
            legend:{
                enabled:false
            },
            credits:{
                enabled:false
            },
            exporting:{
                enabled:false
            },
            title: {
                text: '댓글 반응'
            },
            xAxis: {
                categories: [
                    '긍정',
                    '부정',
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'ratio (%)'
                }
            },
            tooltip: {
                pointFormat: '<table><tr><td style="color:{point.color};padding:0">{point.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr></table>',
                shared: true,
                useHTML: true,
                width:'400px'
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                colorByPoint: true,
                data: [
                    {
                        name:'긍정',
                        y: {{c_pos}},
                        color: '#cd2626'
                    },
                    {
                        name:'부정',
                        y: {{c_neg}},
                        color:'#0018a0'
                    }
                    ]

            }]
        });</script>
        <div class="report_box">
            <div class="report_item_inner" style="position: absolute; margin-top: 160px; margin-left: 10%;">
                <span class="report_opinion">애널리스트 의견</span>
                <br>
                <span class="report_date">2023년 1월 10일 기준</span>
            </div>
            <div class="report_circle" style="position: absolute; margin-left: 5%;">
                <p style="margin-top: 36%; color:#E8E8E8; font-size: larger;"><strong>BUY</strong></p>
            </div>
        </div>
    </div>
</div>
    <p></p>
    <p></p>
<div class="event_box">이벤트별 키워드 
<div id="eventchart"></div>
</div>


<script> 
    // Create the chart
    Highcharts.stockChart('eventchart', {
        rangeSelector: {
            selected: 1
        },
        credits:{
            enabled:false
        },
        exporting:{
            enabled:false
        },
        chart: {
            style: {
                fontFamily: 'SBAggroB',
                fontWeight: 'bold',
            }
        },
        title: {
            text: '{{name}}',
            style: {fontSize: '25px'}
        },

        series: [{
            name: '{{name}}',
            data: {{ohlcv_list|safe}},
        }],
        xAxis:{
            labels:{
                enabled:false
            }
        },
        tooltip: {
            dateTimeLabelFormats: {
                day: '%b %e, %Y'
            },
            pointFormat: 
                '<table style="table-layout:fixed; word-break:break-all; height:auto;">'+
                '<tr><td style="color:black;font-size:15px; font-family:cursive">종가: <b style="color:black;font-family:sans-serif">{point.y} 원</b></td></tr>' +
                '<tr><td style="color:black;font-size:15px;">전일비:<b style="color:red;font-family:cursive""> {point.compare_price} </b></td></tr>'+
                '<tr><td style="color:black;font-size:15px;">긍정:<b style="color:red;font-family:cursive""> {point.word.긍정_단어} </b></td></tr>'+
                '<tr><td style="color:black;font-size:15px;">부정:<b style="color:blue"> {point.word.부정_단어} </b></td></tr></table>',
            shared: true,
            useHTML: true,
        },  
    });
</script>

{% endblock %}