{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<style>
.content_box{
    display: block;
    width : 1440px;
    height: auto;
    background-color: none;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }
  .button {
    background-color: rgb(230, 229, 229);
    border: none;
    color: rgb(0, 0, 0);
    width: 55px;
    height: 26px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    pointer-events: auto; 
}

  .button_active {
    background-color: rgb(220, 0, 0);
    border: none;
    color: white;
    width: 55px;
    height: 26px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
}

.line_top {
    display: inline-flex;
    height: 10px;
    width: 80%;
    background-color: #EBEBEB;
    border: none;
    text-align: center;
    border-radius: 10px;
    
}

.line_top::after {
    content: "";
    flex-grow: 1;
    margin: 0px 0px 0px 85% ;
    background-color: rgb(220, 0, 0);
    height: 10px;
    font-size: 0px;
    line-height: 0px;
    border-radius: 10px;
}
.center_button1 {
  margin: 0;
  position: absolute;
  pointer-events: none; 
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center_button2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center_button3 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>

<div class="content_box">
    <div style="position: relative;font-size: 18px;font-weight: bold;margin-left:10px;">거래량
    <div class="center_button1">
    <button class="button" onclick="changedb1(0);">개인</button>
    <button class="button" onclick="changedb1(1);">기관</button>
    <button class="button" onclick="changedb1(1);">외국인</button>
    </div>
    </div>
    <div id="financechart1" style="margin-top: 20px;"></div>
</div>

<div class="content_box">
    <div style="position: relative;font-size: 18px;font-weight: bold;margin-left:10px;">공매도
    <div class="center_button2">
    <button class="button" onclick="changedb2(0);">개인</button>
    <button class="button" onclick="changedb2(1);">기관</button>
    <button class="button" onclick="changedb2(2);">외국인</button>
    </div>
    </div>
    <div id="financechart2" style="margin-top: 20px;"></div>
</div>

<div class="content_box">
    <div style="position: relative;font-size: 18px;font-weight: bold;margin-left:10px;">보유량
    <div class="center_button3">
    <button class="button" onclick="changedb3(0);">개인</button>
    <button class="button" onclick="changedb3(1);">기관</button>
    <button class="button" onclick="changedb3(2);">외국인</button>
    </div>
    </div>
    <div id="financechart3" style="margin-top: 20px;"></div>
</div>


<script>
var currentMenu1;
var currentMenu2;
var currentMenu3;
var button1 = document.querySelector('.center_button1');
var button2 = document.querySelector('.center_button2');
var button3 = document.querySelector('.center_button3');


function inactivate(elem){
    elem.classList.remove('button_active');
}

function activate1(elem){
    elem.classList.add('button_active');
    currentMenu1 = elem;
}
function clickHandler1(e){
    if (currentMenu1){
        inactivate(currentMenu1);
    }
    activate1(e.target);
}

function activate2(elem){
    elem.classList.add('button_active');
    currentMenu2 = elem;
}
function clickHandler2(e){
    if (currentMenu2){
        inactivate(currentMenu2);
    }
    activate2(e.target);
}

function activate3(elem){
    elem.classList.add('button_active');
    currentMenu3 = elem;
}
function clickHandler3(e){
    if (currentMenu3){
        inactivate(currentMenu3);
    }
    activate3(e.target);
}

button1.addEventListener('click', clickHandler1);
button2.addEventListener('click', clickHandler2);
button3.addEventListener('click', clickHandler3);
activate1(document.querySelectorAll('.button')[0]);
activate2(document.querySelectorAll('.button')[3]);
activate3(document.querySelectorAll('.button')[6]);  



var chart1 =Highcharts.stockChart('financechart1', {
        chart: {
            style: {
                fontFamily: 'NanumSquareR',
            }},
        rangeSelector: {
            selected: 1
        },
        credits:{
            enabled:false
        },
        exporting:{
            enabled:false
        },
        xAxis: {
         labels: {
          enabled: false
         }
      },
        yAxis: [{
        
        title: {
          text: 'ratio yAxis',
        },
        min:-1.2,
        max:1.2,
        },
       {
        title: {
        text: 'count yAxis',
      },
      min:0,
      max:200,
      opposite: false
     }],
  
    series: [
      { type: 'column', 
      name: 'news_count', 
      data: [],
      yAxis:1,
      tooltip: {
            valueSuffix: '개'
        } },
      { type: 'line', 
      name: 'ratio', 
      data: [],
      color:'#FF9999'}],
      tooltip: {
        headerFormat: '<span style="font-size:15px">{point.x:%b %e, %Y}</span><table>',
        pointFormat: '<tr><td style="color:black;padding:0">{series.name}: </td>' +
            '<td><b>{point.y}</b></td></tr>',
        footerFormat: '</table>',
        split: false,
        shared: true,
        useHTML: true,
        width:'400px'
        }})
chart1.series[0].setData([[1512313200000.0, 27], [1512399600000.0, 19], [1512486000000.0, 16], [1512572400000.0, 21]])
chart1.series[1].setData([[1512313200000.0, 0.5], [1512399600000.0, -0.5], [1512486000000.0, -0.5], [1512572400000.0, -10]])
function changedb1(idx){
    if (idx==0) {
        chart1.series[0].setData([[1512313200000.0, 27], [1512399600000.0, 19], [1512486000000.0, 16], [1512572400000.0, 41]]);
    }
    if (idx==1) {
        chart1.series[0].setData([[1512313200000.0, 27], [1512399600000.0, 19], [1512486000000.0, 16], [1512572400000.0, 41]]);
    }
    else {
        chart1.series[0].setData([[1512313200000.0, 20], [1512399600000.0, 40], [1512486000000.0, 35], [1512572400000.0, 50]])}
    }

var chart2 =Highcharts.stockChart('financechart2', {
    chart: {
        style: {
            fontFamily: 'NanumSquareR',
        }},
    rangeSelector: {
        selected: 1
    },
    credits:{
        enabled:false
    },
    exporting:{
        enabled:false
    },
    xAxis: {
        labels: {
        enabled: false
        }
    },
    yAxis: [{
    
    title: {
        text: 'ratio yAxis',
    },
    min:-1.2,
    max:1.2,
    },
    {
    title: {
    text: 'count yAxis',
    },
    min:0,
    max:200,
    opposite: false
    }],

series: [
    { type: 'column', 
    name: 'news_count', 
    data: [],
    yAxis:1,
    tooltip: {
        valueSuffix: '개'
    } },
    { type: 'line', 
    name: 'ratio', 
    data: [],
    color:'#FF9999'}],
    tooltip: {
    headerFormat: '<span style="font-size:15px">{point.x:%b %e, %Y}</span><table>',
    pointFormat: '<tr><td style="color:black;padding:0">{series.name}: </td>' +
        '<td><b>{point.y}</b></td></tr>',
    footerFormat: '</table>',
    split: false,
    shared: true,
    useHTML: true,
    width:'400px'
    }})
chart2.series[0].setData([[1512313200000.0, 27], [1512399600000.0, 19], [1512486000000.0, 16], [1512572400000.0, 21]])
chart2.series[1].setData([[1512313200000.0, 0.5], [1512399600000.0, -0.5], [1512486000000.0, -0.5], [1512572400000.0, -10]])
function changedb2(idx){
    if (idx==0) {
        chart2.series[0].setData([[1512313200000.0, 27], [1512399600000.0, 19], [1512486000000.0, 16], [1512572400000.0, 41]]);
    }
    else if (idx==1) {
        chart2.series[0].setData([[1512313200000.0, 27], [1512399600000.0, 19], [1512486000000.0, 16], [1512572400000.0, 41]]);
    }
    else {
        chart2.series[0].setData([[1512313200000.0, 20], [1512399600000.0, 40], [1512486000000.0, 35], [1512572400000.0, 50]])}
    }

var chart3 =Highcharts.stockChart('financechart3', {
    chart: {
        style: {
            fontFamily: 'NanumSquareR',
        }},
    rangeSelector: {
        selected: 1
    },
    credits:{
        enabled:false
    },
    exporting:{
        enabled:false
    },
    xAxis: {
        labels: {
        enabled: false
        }
    },
    yAxis: [{
    
    title: {
        text: 'ratio yAxis',
    },
    min:-1.2,
    max:1.2,
    },
    {
    title: {
    text: 'count yAxis',
    },
    min:0,
    max:200,
    opposite: false
    }],

series: [
    { type: 'column', 
    name: 'news_count', 
    data: [],
    yAxis:1,
    tooltip: {
        valueSuffix: '개'
    } },
    { type: 'line', 
    name: 'ratio', 
    data: [],
    color:'#FF9999'}],
    tooltip: {
    headerFormat: '<span style="font-size:15px">{point.x:%b %e, %Y}</span><table>',
    pointFormat: '<tr><td style="color:black;padding:0">{series.name}: </td>' +
        '<td><b>{point.y}</b></td></tr>',
    footerFormat: '</table>',
    split: false,
    shared: true,
    useHTML: true,
    width:'400px'
    }})
chart3.series[0].setData([[1512313200000.0, 27], [1512399600000.0, 19], [1512486000000.0, 16], [1512572400000.0, 21]])
chart3.series[1].setData([[1512313200000.0, 0.5], [1512399600000.0, -0.5], [1512486000000.0, -0.5], [1512572400000.0, -10]])
function changedb3(idx){
    if (idx==0) {
        chart3.series[0].setData([[1512313200000.0, 27], [1512399600000.0, 19], [1512486000000.0, 16], [1512572400000.0, 41]]);
    }
    if (idx==1) {
        chart3.series[0].setData([[1512313200000.0, 27], [1512399600000.0, 19], [1512486000000.0, 16], [1512572400000.0, 41]]);
    }
    else {
        chart3.series[0].setData([[1512313200000.0, 20], [1512399600000.0, 40], [1512486000000.0, 35], [1512572400000.0, 50]])}
    }
;</script>    

{% endblock %}