{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<style>
.line_top {
    display: inline-flex;
    height: 10px;
    width: 80%;
    background-color: #EBEBEB;
    border: none;
    text-align: center;
    border-radius: 10px;
    
}

.line_top::after {
    content: "";
    flex-grow: 1;
    margin: 0px 0px 0px 85% ;
    background-color: rgb(220, 0, 0);
    height: 10px;
    font-size: 0px;
    line-height: 0px;
    border-radius: 10px;
}
</style>

<div style="text-align: center;" ><button onclick="changedb(0);">test</button></div>
<div style="text-align: center;" ><button onclick="changedb(1);">test1</button></div>
<div style="text-align: center;" ><button onclick="changedb(2);">test2</button></div>
<div style="text-align: center;" ><button onclick="changedb(3);">test3</button></div>
<div style="text-align: center;" ><button onclick="changedb(4);">test4</button></div>

<div id="container2"></div>
</div>

<script>
var data1 = [[1512313200000.0, 27], [1512399600000.0, 19], [1512486000000.0, 16], [1512572400000.0, 21]]
var data2 =[[1512313200000.0, 0.5], [1512399600000.0, -0.5], [1512486000000.0, -0.5], [1512572400000.0, -1.0]]
Highcharts.stockChart('container2', {
        chart: {
            style: {
                fontFamily: 'NanumSquareR',
            }},
        rangeSelector: {
            selected: 1
        },
        credits:{
            enabled:false
        },
        exporting:{
            enabled:false
        },
        title: {
            text: 'LG 에너지솔루션'
        },
        xAxis: {
         labels: {
          enabled: false
         }
      },
        yAxis: [{
        
        title: {
          text: 'ratio yAxis',
        },
        min:-1.2,
        max:1.2,
        },
       {
        title: {
        text: 'count yAxis',
      },
      min:0,
      max:200,
      opposite: false
     }],
  
    series: [
      { type: 'column', 
      name: 'news_count', 
      data: data1,
      yAxis:1,
      tooltip: {
            valueSuffix: '개'
        } },
      { type: 'line', 
      name: 'ratio', 
      data: data2,
      color:'#FF9999'}],
      tooltip: {
        headerFormat: '<span style="font-size:15px">{point.x:%b %e, %Y}</span><table>',
        pointFormat: '<tr><td style="color:black;padding:0">{series.name}: </td>' +
            '<td><b>{point.y}</b></td></tr>',
        footerFormat: '</table>',
        split: false,
        shared: true,
        useHTML: true,
        width:'400px'
        }})
function changedb(idx){
    if (idx==0) {
        var data1 = [[1512313200000.0, 27], [1512399600000.0, 19], [1512486000000.0, 16], [1512572400000.0, 21]]
        var data2 =[[1512313200000.0, 0.5], [1512399600000.0, -0.5], [1512486000000.0, -0.5], [1512572400000.0, 1.0]]
    }
    else if(idx==1){
        var data1 = [[1512313200000.0, 20], [1512399600000.0, 40], [1512486000000.0, 35], [1512572400000.0, 20]]
        var data2 =[[1512313200000.0, 0.5], [1512399600000.0, -0.5], [1512486000000.0, -0.5], [1512572400000.0, -1.0]] 
    }
    else if(idx==2){
        var data1 = [[1512313200000.0, 20], [1512399600000.0, 40], [1512486000000.0, 35], [1512572400000.0, 20]]
        var data2 =[[1512313200000.0, 0.5], [1512399600000.0, -0.5], [1512486000000.0, -0.5], [1512572400000.0, -1.0]] 
    }
    else if(idx==3){
        var data1 = [[1512313200000.0, 20], [1512399600000.0, 40], [1512486000000.0, 35], [1512572400000.0, 20]]
        var data2 =[[1512313200000.0, 0.5], [1512399600000.0, -0.5], [1512486000000.0, -0.5], [1512572400000.0, -1.0]] 
    }
    else{
        var data1 = [[1512313200000.0, 50], [1512399600000.0, 30], [1512486000000.0, 75], [1512572400000.0, 100]]
        var data2 =[[1512313200000.0, 0.5], [1512399600000.0, -0.5], [1512486000000.0, -0.5], [1512572400000.0, 1.0]] 
    }

    Highcharts.stockChart('container2', {
        chart: {
            style: {
                fontFamily: 'NanumSquareR',
            }},
        rangeSelector: {
            selected: 1
        },
        credits:{
            enabled:false
        },
        exporting:{
            enabled:false
        },
        title: {
            text: 'LG 에너지솔루션'
        },
        xAxis: {
         labels: {
          enabled: false
         }
      },
        yAxis: [{
        
        title: {
          text: 'ratio yAxis',
        },
        min:-1.2,
        max:1.2,
        },
       {
        title: {
        text: 'count yAxis',
      },
      min:0,
      max:200,
      opposite: false
     }],
  
    series: [
      { type: 'column', 
      name: 'news_count', 
      data: data1,
      yAxis:1,
      tooltip: {
            valueSuffix: '개'
        } },
      { type: 'line', 
      name: 'ratio', 
      data: data2,
      color:'#FF9999'}],
      tooltip: {
        headerFormat: '<span style="font-size:15px">{point.x:%b %e, %Y}</span><table>',
        pointFormat: '<tr><td style="color:black;padding:0">{series.name}: </td>' +
            '<td><b>{point.y}</b></td></tr>',
        footerFormat: '</table>',
        split: false,
        shared: true,
        useHTML: true,
        width:'400px'
        },
  })};
;</script>    

{% endblock %}